<div class="edit-form">
  <h3>Edit your todo</h3>

  <div>
    <form class="" action="/edit/{{model.id}}" method="post">
      <input class="edit-here" type="text" name="editTask" value="{{model.task}}" required>
      <button type="submit" name="button" value="task">Update</button>
      <br>

    </form>
  </div>

</div>
<a class="home-link" href="/">Back to list</a>
