body {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.container {
  width: 30%;
  text-align: center;
  background-color: #f2e2cd;
  border-radius: 5px;
}

.top {
  text-align: center;
  font-size: 30px;
}

.top, .bottom {
  font-family: 'Roboto', sans-serif;
}

.bottom {
  font-size: 25px;
}

.enterNew {
  width: 50%;
}

.addNew {
  width: 15%;
}

.chores {
  list-style: none;
  font-family: 'helvetica';
  line-height: 1.5vw;
  padding-left: 0;
  text-transform: capitalize;
}

.listForm {
  display: inline;
}

.compButton {
  margin-left: 15px;
}

.edit-button {
  text-decoration: none;
}

.edit-form {
  display: block;
}

.home-link {
  font-size: 10px;
}
